
.cantainer{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 400px 150px 150px;

}
.first{
    grid-column: span 2;
    background-color: #241468;
    display: flex;
}
.second{
    grid-column: span 2;
    position: relative;
    display: inline-block;
    background: #EA1179;
    
    

}
.third{
    grid-column: span 2;
    position: relative;
    display: inline-block;
    background-color: #241468;
    height: 500px;
    width: 100%;

    
}
.fourth{
    grid-column: span 2;
    position: relative;
    top: 350px;
    display: block;
    height: 700px;
    width: 100%;
    background-color: #241468;
    z-index: -2;
    

}

.fiveth{
    grid-column: span 2;
    position: relative;
    padding-top: 25px;
    font-size: 20px;
    top: 800px;
    display: block;
    height: 150px;
    width: 100%;
    background:  #EA1179;
    text-align: center;


}

h1{

    font-size: 40px;
    margin-left: 50px;
    font-family: cursive;
    color: #EA1179;
    display: inline-block;
    letter-spacing: 2px;
    padding-top: -5px;
    text-align: center;
    text-shadow: 1px 2px 5px black;
    
    margin-top: 15px;

}
span{
    color: white;
    
}
#nav{
    display: flex;
    gap: 30px;
    list-style-type: none;
    text-align: end;
    position: relative;
    top: 15px;
    left: 900px;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #EA1179;
    

}
a{
    text-decoration: none;
    color: #EA1179;
   
}
a:hover,:active a{
    color: white;
    transition: 2s;

}

.second > p{
    position: relative;
    top: 90px;
    left: 200px;
    font-size: 30px;
    color: #241468;
    font-family: sans-serif;
    text-decoration: underline;
    font-weight: 900;


}
.second > p > span{
    color: white;
    font-weight: 600;
}
button{
    position: absolute;
    top: 270px;
    left: 200px;
    height: 30px;
    width: 120px;
    background-color: #241468;
    font-size: 20px;
    color: aliceblue;
    border-radius: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
img{
    height: 400px;
    width: 500px;
    display: inline-block;
    position:absolute;
    left: 900px;
    top: -10px;
}
#join{
    color: white;
    
}
.list1{
    position: relative;
    top: 50px;
    left: 30px;
    display: inline-block;
    margin-left: 100px;
    margin-right: 100px;
    border: 5px solid #F79BD3;
    background-color: #F79BD3;
    color: #241468;
    font-family: cursive;
    padding: 30px;
    border-radius: 30px;
    box-shadow: -9px 9px 5px #EA1179;

}
.list2{
    position: relative;
    display: inline-block;
    top: 50px;
    left: 30px;
    margin-left: 100px;
    margin-right: 100px;
    border: 5px solid #F79BD3;
    background-color: #F79BD3;
    color: #241468;
    font-family: cursive;
    padding: 30px;
    border-radius: 30px;
    box-shadow: -9px 9px 5px #EA1179;
    

}
.list3{
    position: relative;
    display: inline-block;
    top: 50px;
    left: 30px;
    margin-left: 100px;
    margin-right: 100px;
    border: 5px solid #F79BD3;
    background-color: #F79BD3;
    color: #241468;
    font-family: cursive;
    padding: 30px;
    border-radius: 30px;
    box-shadow: -9px 9px 5px #EA1179;

}
h3{
    text-align: center;
    font-size: 25px;
    text-decoration: underline;
    box-shadow: -5px 5px 8px black;
    border: 0.5px solid black;
    border-radius: 10px;
    
}
h2{
    text-align: center;
    font-size: 40px;
    color: #EA1179;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    box-shadow: -5px 5px 8px black;
    border: 0.5px solid black;
    height: 50px;
    width: 350px;
    position: relative;
    top: 10px;
    left: 620px;
    background-color: #F79BD3;
    border-radius: 15px;
    text-shadow: -2px 2px 3px black;
}
.about  p{
    border: 2px solid black;
    border-width: 0px 2px 2px 2px;
    border-radius: 30px;
    font-display: scroll;
    height: 250px;
    width: 500px;
    position: relative;
    top: 100px;
    left: 250px;
    background: #EA1179;
    color: #130a3a;
    font-size: 18px;
    line-height: 25px;
    padding: 40px;
    text-align: justify;
    font-weight: 700;
    margin-top: -100px;
    margin-left: -100px;
    z-index: -1;

}
#us{
    text-decoration: none;
    text-shadow: 5px 5px 4px black;
    font-size: 20px;
    position: relative;
    top: 57px;
    left: 200px;
    font-size: 30px;
    color: aliceblue;
    font-family: cursive;
    width: fit-content;
    
    

}
#man{
    position: absolute;
    top:105px;
    left: 1005px;
    text-shadow: -5px 2px 4px black;
    height: 300px;
    width: 250px;
    z-index: 1;
}
 
#b{
    
    position: absolute;
    top: 185px;
    left: 1000px;
    height: 200px;
    width: 250px;
    border: 18px solid #EA1179;
    background:  #F79BD3;
    border-radius: 15px;
    z-index: -1;
}
}
